/* .redText{
    color:red;
} */



.redText{
    color:red;
}

.registerbtn {
    /*background-color: #4caf50;*/
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    
  }

  .full-width{
    width: 100%;
}
